@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.hotels {
    padding: 30px 0;

    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__block {

    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        @include tablet-big-screen {
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__item {
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        padding-bottom: 0;
        overflow: hidden;
    }

    &__item-name {
        font-size: 23px;
        margin-bottom: 5px;
        color: #185678;
        font-weight: 500;
        text-decoration: underline;

        @include tablet-big-screen {
            font-size: 16px;
        }
    }

    &__item-title {
        margin-bottom: 10px;
    }

    &__item-img {
        width: calc(100% + 20px);
        margin: 0 -10px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

