@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.main-screen {
    width: 100%;
    background: url(../../../public/images/main/varna.jpg);
    @include background-cover-center;
    padding: 200px 0;

    @include tablet-big-screen {
        padding-top: 90px;
        padding-bottom: 140px;
    }

    &__block {
        @include flex-column-center;
        text-align: center;
        color: #fff;
        padding: 40px;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(4px);
        border-radius: 50px;

        @include tablet-big-screen {
            padding: 18px;
            border-radius: 0;
        }
    }

    &__title {
        font-size: 50px;
        margin-bottom: 15px;
    }

    &__text {

        a {
            color: #fff;
            text-decoration: underline;
            display: inline;
        }


    }

}
