@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.form {
    padding: 60px 0;

    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__block {

    }

    &__button {
        background: #185678;
        @include flex-row-center;
        text-decoration: underline;
        font-size: 30px;
        padding: 10px 50px;
        @include margin-auto;
        width: fit-content;
        color: #fff;
        border-radius: 5px;


        @include tablet-big-screen {
            font-size: 22px;
            padding: 10px;
            width: 100%;
        }

        &:hover {
            background: #0d3950;
        }
    }

    &__contact-name {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__contacts {
    }

    &__contact {
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 15px;
        text-align: center;
        color: var(--black-color);
    }

    &__social {
        width: 400px;
        @include margin-auto;
        margin-bottom: 20px;

        @include tablet-big-screen {
            width: 100%;
        }
    }
}
