@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,200&display=swap);
.about__block {
  padding: 20px 0; }

.about__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 28px; }

:root {
  --white-color: #fff;
  --black-color: #2b2b2b;
  --gray-color: #666;
  --main-color-base: 211;
  --natural-color-base: 50;
  --error-color-base: 0;
  --success-color-base: 100;
  --warning-color-base: 46;
  --main-color: hsla(var(--main-color-base), 100%, 37%, 1);
  --light-main-color: hsla(var(--main-color-base), 100%, 80%, 1);
  --extra-light-main-color: hsla(var(--main-color-base), 100%, 90%, 1);
  --super-light-main-color: hsla(var(--main-color-base), 100%, 98%, 1);
  --natural-color: hsla(var(--natural-color-base), 100%, 50%, 1);
  --light-natural-color: hsla(var(--natural-color-base), 0%, 95%, 1);
  --extra-light-natural-color: hsla(var(--natural-color-base), 0%, 98%, 1);
  --super-light-natural-color: hsla(var(--natural-color-base), 0%, 99%, 1);
  --error-color: hsla(var(--error-color-base), 100%, 50%, 1);
  --light-error-color: hsla(var(--error-color-base), 100%, 80%, 1);
  --extra-light-error-color: hsla(var(--error-color-base), 100%, 90%, 1);
  --super-light-error-color: hsla(var(--error-color-base), 100%, 90%, .2);
  --success-color: hsla(var(--success-color-base), 100%, 50%, 1);
  --light-success-color: hsla(var(--success-color-base), 100%, 80%, 1);
  --extra-light-success-color: hsla(var(--success-color-base), 100%, 90%, 1);
  --super-light-success-color: hsla(var(--success-color-base), 100%, 90%, .2);
  --warning-color: hsla(var(--warning-color-base), 100%, 50%, 1);
  --light-warning-color: hsla(var(--warning-color-base), 100%, 80%, 1);
  --extra-light-warning-color: hsla(var(--warning-color-base), 100%, 90%, 1);
  --super-light-warning-color: hsla(var(--warning-color-base), 100%, 98%, 1); }

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased; }

* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  margin: 0;
  font-weight: 400;
  background: #cceafb;
  color: var(--black-color); }
  .mobile-clear-page body {
    background: var(--white-color); }

a {
  text-decoration: none;
  display: block; }
  a:focus {
    outline: none; }

ul {
  list-style: none;
  display: block; }

button, input, textarea {
  border: none;
  background: none;
  display: block; }

button:active, input:active, textarea:active,
button:focus, input:focus, textarea:focus {
  outline: none; }




.buses {
  padding: 30px 0; }
  .buses__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .buses__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }
    @media (max-width: 1279px) {
      .buses__items {
        grid-gap: 10px; } }
  .buses__item {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center; }
    .buses__item--closed {
      opacity: .5; }
    @media (max-width: 1279px) {
      .buses__item {
        padding: 5px; } }
  .buses__item-date {
    font-size: 30px;
    font-weight: 700; }
  .buses__item-count {
    margin-bottom: 10px; }
  .buses__departures {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center; }
    @media (max-width: 1279px) {
      .buses__departures {
        font-size: 12px; } }
  .buses__departure {
    display: flex;
    align-items: center;
    margin-right: 15px; }
    .buses__departure:before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      background: #000;
      border-radius: 50%;
      margin-right: 5px; }
      @media (max-width: 1279px) {
        .buses__departure:before {
          display: none; } }
  .buses__item-hotel-name {
    font-weight: 700; }
  .buses__item-hotel-location {
    font-size: 12px; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  height: 46px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px; }
  .button:hover {
    background: var(--natural-color); }
  @media (max-width: 1279px) {
    .button {
      width: 100%;
      text-align: center; } }

.custom-select {
  width: 100%;
  height: 46px;
  position: relative;
  background: var(--white-color);
  z-index: 100;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-color); }
  .custom-select,
  .custom-select *,
  .custom-select *:before,
  .custom-select *:after {
    box-sizing: border-box; }
  .custom-select:focus {
    border-color: #000;
    outline: none; }
  .custom-select select {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
    opacity: 0;
    display: none;
    font-size: 16px; }
  .custom-select--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 101; }
  .custom-select__input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative; }
  .custom-select__input-name {
    display: flex;
    font-size: 16px;
    padding: 0 12px;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 6px;
    color: var(--gray-color);
    width: 100%;
    line-height: 44px;
    overflow: hidden; }
    .custom-select--selected .custom-select__input-name {
      color: #000;
      font-weight: 700; }
  .custom-select__input-icon {
    position: absolute;
    width: 18px;
    height: 11px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
    .custom-select--open .custom-select__input-icon {
      transform: translateY(-50%) rotate(180deg); }
    .custom-select__input-icon:before, .custom-select__input-icon:after {
      display: block;
      content: '';
      position: absolute;
      width: 72%;
      height: 2px;
      background: #ccc;
      bottom: 0; }
      .custom-select:hover .custom-select__input-icon:before, .custom-select:hover .custom-select__input-icon:after {
        background: #bbb; }
    .custom-select__input-icon:before {
      left: 50%;
      transform: rotate(-45deg);
      transform-origin: left bottom; }
    .custom-select__input-icon:after {
      right: 50%;
      transform: rotate(45deg);
      transform-origin: right bottom; }
  .custom-select__list {
    position: absolute;
    left: -1px;
    top: 100%;
    width: calc(100% + 2px);
    border: 1px solid;
    background: inherit;
    border-color: inherit;
    border-top-color: transparent;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    overflow-x: hidden; }
    .custom-select--open .custom-select__list {
      transform: scaleX(1);
      visibility: visible;
      opacity: 1; }
  .custom-select__item {
    padding: 10px 12px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .custom-select__item:focus, .custom-select__item:hover {
      background: #f0f0f1;
      outline: none; }
    .custom-select__item--selected {
      background: #f0f0f1; }
    .custom-select__item--disabled {
      cursor: default;
      background: #d5d5d5; }
      .custom-select__item--disabled:hover {
        background: #d5d5d5; }

.faq {
  padding: 30px 0; }
  .faq__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: -35px; }
  .faq__item {
    padding-top: 70px;
    position: relative; }
    .faq__item:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      left: 0;
      top: 35px;
      background: #b4daef; }
    .faq__item:nth-of-type(1):after {
      display: none; }
  .faq__item-title {
    font-size: 24px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 20px 20px;
    grid-gap: 20px; }
    @media (max-width: 1279px) {
      .faq__item-title {
        grid-gap: 5px; } }
  .faq__item-title-name {
    font-size: 24px;
    font-weight: 700; }
    @media (max-width: 1279px) {
      .faq__item-title-name {
        font-size: 20px; } }
  .faq__item-title-link {
    width: 20px;
    height: 20px;
    background: url(/images/icons/link.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: .3; }
    .faq__item-title-link:active {
      outline: var(--main-color) solid 3px;
      border-radius: 3px; }
  .faq__item-title-copy {
    width: 20px;
    height: 20px;
    background: #000;
    font-size: 18px;
    background: url(/images/icons/copy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: .3;
    -webkit-tap-highlight-color: var(--main-color); }
    .faq__item-title-copy:active {
      outline: var(--main-color) solid 3px;
      border-radius: 3px; }
  .faq__item-answer {
    font-size: 18px; }
    .faq__item-answer p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px; }

.footer {
  position: static;
  width: 100%;
  background: var(--main-color);
  left: 0;
  top: 0;
  color: var(--white-color);
  z-index: 10; }
  .footer__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0; }
  .footer__contacts-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right; }
  .footer__name {
    color: #fff; }
    @media (max-width: 1279px) {
      .footer__name {
        display: none; } }
  .footer__contacts {
    margin-left: 30px; }
  .footer__contact {
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px; }
  .footer__register {
    color: #fff;
    text-decoration: underline; }

.form {
  padding: 60px 0; }
  .form__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .form__button {
    background: #185678;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 30px;
    padding: 10px 50px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #fff;
    border-radius: 5px; }
    @media (max-width: 1279px) {
      .form__button {
        font-size: 22px;
        padding: 10px;
        width: 100%; } }
    .form__button:hover {
      background: #0d3950; }
  .form__contact-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .form__contact {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
    color: var(--black-color); }
  .form__social {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    @media (max-width: 1279px) {
      .form__social {
        width: 100%; } }

.header {
  position: fixed;
  width: 100%;
  background: var(--main-color);
  left: 0;
  top: 0;
  color: var(--white-color);
  z-index: 10; }
  .header__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0; }
  .header__contacts-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right; }
  .header__name {
    color: #fff; }
    @media (max-width: 1279px) {
      .header__name {
        display: none; } }
  .header__contacts {
    margin-left: 30px; }
  .header__contact {
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px; }
  .header__register {
    color: #fff;
    text-decoration: underline; }

.hotels {
  padding: 30px 0; }
  .hotels__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .hotels__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px; }
    @media (max-width: 1279px) {
      .hotels__items {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr; } }
  .hotels__item {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    padding-bottom: 0;
    overflow: hidden; }
  .hotels__item-name {
    font-size: 23px;
    margin-bottom: 5px;
    color: #185678;
    font-weight: 500;
    text-decoration: underline; }
    @media (max-width: 1279px) {
      .hotels__item-name {
        font-size: 16px; } }
  .hotels__item-title {
    margin-bottom: 10px; }
  .hotels__item-img {
    width: calc(100% + 20px);
    margin: 0 -10px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block; }

.input {
  width: 100%;
  height: 46px;
  background: var(--white-color);
  border: 1px solid var(--gray-color);
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  color: var(--black-color);
  transition: none !important;
  font-family: var(--font-calibri); }
  .placeholder--not-empty .input {
    padding-top: 14px; }
  .form-check__error--show .input {
    border-color: var(--error-color);
    padding-top: 14px; }
  .placeholder--empty.form-check__error--show.form-check__field--focus .input {
    padding-top: 0; }
  .form-check__field--small.form-check__error--show .input {
    padding-top: 0; }
  .placeholder--not-empty.form-check__field--small.form-check__error--show .input {
    padding-top: 0; }
  .placeholder--not-empty.form-check__field--small.form-check__error--show.form-check__field--focus .input {
    padding-top: 14px; }
  .input--textarea {
    min-height: 100px;
    resize: vertical;
    padding-top: 14px;
    overflow: auto; }
    .input--textarea::-webkit-scrollbar-button {
      background-image: none;
      background-repeat: no-repeat;
      width: 10px;
      height: 0; }
    .input--textarea::-webkit-scrollbar-track {
      background: var(--extra-light-natural-color);
      cursor: pointer; }
    .input--textarea::-webkit-scrollbar-thumb {
      background-color: var(--light-main-color);
      cursor: pointer; }
    .input--textarea::-webkit-scrollbar-thumb:hover {
      background-color: var(--main-color);
      cursor: pointer; }
    .input--textarea::-webkit-resizer {
      background-image: none;
      background-repeat: no-repeat;
      width: 10px;
      height: 0; }
    .input--textarea::-webkit-scrollbar {
      width: 10px; }
    .input--textarea::-webkit-scrollbar-thumb {
      cursor: pointer !important; }
    .placeholder--empty.form-check__error--show.form-check__field--focus .input--textarea {
      padding-top: 14px; }
    .placeholder--not-empty .input--textarea {
      padding-top: 25px; }
    .form-check__error--show.form-check__field--focus .input--textarea,
    .form-check__error--show .input--textarea {
      padding-top: 24px; }
  .input--driver-comment {
    min-height: 307px; }
  .input::-webkit-input-placeholder {
    color: var(--gray-color); }
  .input::-moz-placeholder {
    color: var(--gray-color); }
  .input:-moz-placeholder {
    color: var(--gray-color); }
  .input:-ms-input-placeholder {
    color: var(--gray-color); }
  .input:disabled {
    background: var(--light-natural-color); }
  .input:focus {
    border-color: var(--black-color); }
  .input:disabled:focus {
    border-color: var(--natural-color); }

.layout {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .layout--small {
    width: 800px; }
    @media (max-width: 1279px) {
      .layout--small {
        width: calc(100% - 20px); } }
  @media (max-width: 1279px) {
    .layout {
      width: calc(100% - 20px); } }

.main-screen {
  width: 100%;
  background: url(/images/main/zolotyie-peski.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center bottom;
  padding: 200px 0; }
  @media (max-width: 1279px) {
    .main-screen {
      padding-top: 90px;
      padding-bottom: 140px; } }
  .main-screen__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 40px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px); }
    @media (max-width: 1279px) {
      .main-screen__block {
        padding: 18px;
        border-radius: 0;
        backdrop-filter: none;
        background: rgba(0, 91, 189, 0.8); } }
  .main-screen__title {
    font-size: 30px; }
  .main-screen__text {
    font-size: 36px;
    margin: 15px 0; }
    .main-screen__text a {
      color: #fff;
      text-decoration: underline;
      display: inline; }
    @media (max-width: 1279px) {
      .main-screen__text {
        font-size: 18px; } }
  .main-screen__phone {
    font-size: 30px;
    color: #fff; }
  .main-screen__social {
    margin-top: 20px; }

.placeholder {
  position: relative;
  display: block; }
  .placeholder__item {
    color: var(--gray-color);
    cursor: text;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    padding-left: 0;
    height: auto;
    transition: transform 0.2s, opacity 0s;
    transform-origin: left bottom;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden; }
    .placeholder--not-empty .placeholder__item {
      opacity: 1;
      visibility: visible;
      transform: translateY(-20px);
      font-size: 13px; }
    .placeholder--textarea .placeholder__item {
      top: 26px; }
    .placeholder--auth .placeholder__item {
      left: 20px; }
    .placeholder--auth.placeholder--not-empty .placeholder__item {
      opacity: 1;
      visibility: visible;
      transform: translateY(-130%); }
    .form-check__error--show.placeholder--not-empty .placeholder__item,
    .form-check__error--show .placeholder__item {
      opacity: 0;
      visibility: hidden; }
    .form-check__error--show.form-check__field--focus.placeholder--not-empty .placeholder__item {
      opacity: 1;
      visibility: visible;
      transform: translateY(-20px); }
    .placeholder--auth.form-check__error--show.form-check__field--focus.placeholder--not-empty .placeholder__item {
      opacity: 1;
      visibility: visible;
      transform: translateY(-130%); }

.price {
  padding: 30px 0; }
  .price__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .price__item {
    font-size: 18px;
    line-height: 28px; }

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px; }
  @media (max-width: 1279px) {
    .social {
      grid-gap: 10px; } }
  .social__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .social__item-img-wrapper {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center; }
    @media (max-width: 1279px) {
      .social__item-img-wrapper {
        width: 30px;
        height: 30px; } }
  .social__item-name {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-decoration: underline; }
    .header .social__item-name,
    .footer .social__item-name {
      display: none; }
    .form .social__item-name {
      color: var(--black-color); }


/*# sourceMappingURL=main.7bc5edd317988951c9cd.css.map*/