@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.header {
    position: fixed;
    width: 100%;
    background: var(--main-color);
    left: 0;
    top: 0;
    color: var(--white-color);
    z-index: 10;


    &__block {
        @include flex-row-center;
        justify-content: space-between;
        padding: 7px 0;
    }

    &__logo {
        color: var(--white-color);
    }

    &__logo-big {
        font-size: 18px;
    }

    &__logo-small {
        font-size: 12px;

        @include tablet-big-screen {
            display: none;
        }
    }

    &__counters {
        @include flex-row;
        justify-content: space-between;
        font-size: 16px;
    }

    &__counter-item {
        margin-left: 40px;
        @include flex-row;
        height: 44px;

        @include tablet-big-screen {
            @include flex-column;
            margin-left: 10px;
            height: auto;
        }
    }

    &__counter-item-title {
        @include flex-row;
        align-items: center;
    }

    &__counter-item-title-text {
        @include tablet-big-screen {
            font-size: 12px;
        }
    }

    &__counter-item-title-number {
        margin-left: 5px;
        background: var(--natural-color);
        border: 1px solid var(--natural-color);
        padding: 5px 10px;
        border-radius: 4px;
        color: var(--black-color);

        & span {
            display: block;
            font-size: 10px;
            white-space: nowrap;
        }

        @include tablet-big-screen {
            padding: 1px 6px;
        }
    }

    &__counter-item-button {
        border: 1px solid var(--natural-color);
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        color: var(--white-color);
        @include flex-row-center;
        height: 100%;

        &:hover {
            background: var(--natural-color);
            color: var(--black-color);
        }

        @include tablet-big-screen {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
