@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.header {
    position: fixed;
    width: 100%;
    background: var(--main-color);
    left: 0;
    top: 0;
    color: var(--white-color);
    z-index: 10;


    &__block {
        @include flex-row-center;
        justify-content: space-between;
        padding: 7px 0;
    }

    &__contacts-block {
        text-align: right;
    }

    &__name {
        color: #fff;
    }

    &__contact {
        color: #fff;
        margin-bottom: 5px;
        font-size: 18px;
    }

    &__register {
        color: #fff;
        text-decoration: underline;
    }
}
